<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kyler.hangouts.ui.demo"
    android:versionCode="22031189"
    android:versionName="2.3.75067996" >

    <compatible-screens>
        <screen
            android:screenDensity="480"
            android:screenSize="small" />
        <screen
            android:screenDensity="480"
            android:screenSize="normal" />
        <screen
            android:screenDensity="480"
            android:screenSize="large" />
        <screen
            android:screenDensity="480"
            android:screenSize="xlarge" />
    </compatible-screens>

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/HangoutsUITheme" >
        <activity
            android:name="com.kyler.hangouts.ui.demo.HangoutsDemo"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kyler.hangouts.ui.demo.activities.Invites"
            android:label="@string/app_name"
            android:theme="@style/HangoutsUITheme.Invites" >
        </activity>
        <activity
            android:name="com.kyler.hangouts.ui.demo.activities.ArchivedConversations"
            android:label="@string/app_name"
            android:theme="@style/HangoutsUITheme.ArchivedConversations" >
        </activity>
        <activity
            android:name="com.kyler.hangouts.ui.demo.activities.BlockedPeople"
            android:label="@string/app_name"
            android:theme="@style/HangoutsUITheme.BlockedPeople" >
        </activity>
    </application>

</manifest>